<body>
{% include navbar.html %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <noscript><b>Javascript is required to use this site.</b><br><br><br></noscript>
            {{ content }}
        </div>
    </div>
</div>
</body>