{% comment %} This file helps with separating the logic in case it ever gets better. {% endcomment %}
{% assign page_urls = site.static_files | map: "path" %}
{% if page_urls contains include.file %}
{{ include.on_pass }}
{% endif %}