<head>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.title }}</title>

    <script>
        var site = {
            baseurl: "{{ site.baseurl }}"
        };
    </script>

    <!-- CSS tags -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-L/tgI3wSsbb3f/nW9V6Yqlaw3Gj7mpE56LWrhew/c8MIhAYWZ/FNirA64AVkB5pI" crossorigin="anonymous"/>
    <link href="{{ site.baseurl }}/css/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet"/>

    <!-- JavaScript tags -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
    <script defer src="{{ site.baseurl }}/bootstrap-scripts/require-common.js"></script>
    {% assign raw_js = page.path | split: '/' | last | split: '.' | first %}
    {% assign page_js = "/js/" | append: raw_js | append: ".js" %}
    {% capture datacap %}
    <script defer src="{{ site.baseurl }}/bootstrap-scripts/require-main.js" data-run="{{ raw_js }}"></script>
    {% endcapture %}
    {% include file_cond.liquid file=page_js on_pass=datacap %}
</head>