<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">Stitch & Press</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% comment %} <!-- @formatter:off --> {% endcomment %}
                {% assign ordered_pages = site.pages | sort:"order"  %}
                {% for node in ordered_pages %}
                    {% if node.nodisplay %}
                        {% comment %} For pages that don't need a nav entry {% endcomment %}
                    {% else %}
                        {% if node.title %}
                            {% assign class="" %}
                            {% assign active=false %}
                            {% if node.title == page.title %}
                                {% assign active=true %}
                                {% assign class="active" %}
                            {% endif %}
                            <li class="{{ class }}">
                                <a href="{{ node.url | prepend: site.baseurl }}">
                                    {{ node.title }}
                                    {% if active == true %}
                                    <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% comment %} <!-- @formatter:on --> {% endcomment %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="login-change-button" type="button" class="btn btn-default navbar-btn center-block">
                        Loading...
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>