.alert-small {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
@mixin no-highlight {
  outline: none;
  -webkit-appearance: none;
}

.alert-floating {
  z-index: 10;
}

.ui-alert button {
  @include no-highlight;
}

.ui-alert-holder {
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 10;
  position: fixed;
  @include media-query($on-laptop) {
    width: $content-width;
  }
  @include media-query($on-palm) {
    width: 100%;
    margin: 0;
  }
}

.alert.ui-pnotify-container {
  margin-bottom: 0;
}