<div id="login-dialog" class="modal fade" tabindex="-1" role="dialog">
    <form id="login-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Log In</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">
                            Email:
                        </label>
                        <input required class="form-control" id="email" type="email" name="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password:
                        </label>
                        <input required class="form-control" id="password" type="password" name="password"
                               placeholder="Password"/>
                    </div>
                    <p>Notice: this is for admins <em>only</em> right now.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Log In</button>
                </div>
            </div>
        </div>
    </form>
</div>